name: STAGE DEPLOYMENT

on:
  push:
    branches: ["stage"]

jobs:
  build:
    runs-on:
      - self-hosted
      - stage
    steps:
      - uses: actions/checkout@v3
      - name: Create .env file from variables
        run: echo "${{ vars.STAGE_ENV }}" > .env
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.19.0
      - name: Install Dependencies
        run: yarn
      - name: Build PWA
        run: npx quasar build -m pwa
      - name: Move Build Files to Directory
        run: cp -a dist/pwa/. ${{ secrets.STAGE_DEPLOY_PATH }}
